.country-container {
    border: 2px solid green;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}

.country-container img {
    border: 1px solid grey;
    margin: 0 auto;
    height: 100px;
    width: 150px;
}